<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>招聘信息可视化展示</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="../static/assets/img/favicon.ico">
    <!-- CSS here -->
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/assets/css/flaticon.css">
    <link rel="stylesheet" href="../static/assets/css/slicknav.css">
    <link rel="stylesheet" href="../static/assets/css/animate.min.css">
    <link rel="stylesheet" href="../static/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="../static/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/assets/css/themify-icons.css">
    <link rel="stylesheet" href="../static/assets/css/slick.css">
    <link rel="stylesheet" href="../static/assets/css/nice-select.css">
    <link rel="stylesheet" href="../static/assets/css/style.css">
</head>

<body>

<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">

            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->

<header>
    <!-- Header Start -->
    <div class="header-area header-transparrent ">
        <div class="main-header header-sticky">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2 col-md-2">
                        <div class="logo">
                            <a href="/index"><img src="../static/assets/img/logo/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10">
                        <!-- Main-menu -->
                        <div class="main-menu f-right d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li class="active"><a href="/">主页</a></li>
                                    <li><a href="/pythoninfo">原数据展示</a></li>
                                    <li><a href="/analysis">数据分析</a></li>
                                    <li><a href="/wordcloud">词云</a></li>
                                    <li><a href="/test">可视化大屏</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>

<main>

    <!-- Slider Area Start-->
    <div class="slider-area ">
        <div class="slider-active">
            <div class="single-slider slider-height slider-padding sky-blue d-flex">
                <div class="container" style="padding-top:80px">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-6 col-md-9 ">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInUp" data-delay=".6s">基于 python 网络爬虫的 51job
                                    网站招聘信息可视化分析平台</h1>
                                <p data-animation="fadeInUp" data-delay=".8s">官网地址：https://www.51job.com<br>爬取搜索关键词为Python的所有招聘信息并进行可视化展示
                                </p>
                                <!-- Slider btn -->
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="hero__img d-none d-lg-block f-right" data-animation="fadeInRight"
                                 data-delay="1s">
                                <img src="../static/assets/img/show2.png" alt=""
                                     style="width: 100%;height: 100%;object-fit: contain;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider Area End -->

</main>

<!-- JS here -->
<!-- All JS Custom Plugins Link Here here -->
<script src="../static/assets/js/vendor/modernizr-3.5.0.min.js"></script>

<!-- Jquery, Popper, Bootstrap -->
<script src="../static/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="../static/assets/js/popper.min.js"></script>
<script src="../static/assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="../static/assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="../static/assets/js/owl.carousel.min.js"></script>
<script src="../static/assets/js/slick.min.js"></script>
<!-- Date Picker -->
<script src="../static/assets/js/gijgo.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="../static/assets/js/wow.min.js"></script>
<script src="../static/assets/js/animated.headline.js"></script>
<script src="../static/assets/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="../static/assets/js/jquery.scrollUp.min.js"></script>
<script src="../static/assets/js/jquery.nice-select.min.js"></script>
<script src="../static/assets/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="../static/assets/js/contact.js"></script>
<script src="../static/assets/js/jquery.form.js"></script>
<script src="../static/assets/js/jquery.validate.min.js"></script>
<script src="../static/assets/js/mail-script.js"></script>
<script src="../static/assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="../static/assets/js/plugins.js"></script>
<script src="../static/assets/js/main.js"></script>

<style>
    .copyrights {
        text-indent: -9999px;
        height: 0;
        line-height: 0;
        font-size: 0;
        overflow: hidden;
    }
</style>

</body>
</html>