<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <script src="../static/assets/js/echarts.js"></script>
        <title>招聘信息可视化展示</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="../static/assets/img/favicon.ico">

    <!-- CSS here -->
        <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../static/assets/css/flaticon.css">
        <link rel="stylesheet" href="../static/assets/css/slicknav.css">
        <link rel="stylesheet" href="../static/assets/css/animate.min.css">
        <link rel="stylesheet" href="../static/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="../static/assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="../static/assets/css/themify-icons.css">
        <link rel="stylesheet" href="../static/assets/css/slick.css">
        <link rel="stylesheet" href="../static/assets/css/nice-select.css">
        <link rel="stylesheet" href="../static/assets/css/style.css">
        <link rel="stylesheet" href="../static/assets/css/responsive.css">

   </head>

   <body>

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="../static/assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
       <div class="header-area header-transparrent ">
            <div class="main-header header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-2">
                            <div class="logo">
                                <a href="/index"><img src="../static/assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <ul id="navigation">
                                        <li><a href="/">主页</a></li>
                                         <li class="active"><a href="/pythoninfo">原数据展示</a></li>
                                        <li><a href="/analysis">数据分析</a></li>
                                        <li><a href="/wordcloud">词云</a></li>
                                        <li><a href="/test">可视化大屏</a></li>
                                    </ul>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

    <main>
     <section class="service-area services-padding" style="padding-top:100px">
            <table border="1px" class="table-striped" >
              <tr>
                  <td align="center">岗位名称</td>
                  <td align="center" width="50px">地区</td>
                  <td align="center" width="150px">公司全称	</td>
                  <td align="center">薪资</td>
                  <td align="center" width="50px">学历要求</td>
                  <td align="center" width="150px">职业类别</td>
                  <td align="center" width="150px">招收对象</td>
                  <td align="center" width="50px">企业类别</td>
                  <td align="center" width="100px">更新时间</td>
                  <td align="center">关键字</td>
              </tr>
              {% for i in range(data.shape[0]) %}
              <tr>
                  <td align="center">{{data['岗位名称'][i]}}</td>
                  <td align="center">{{data['地区'][i]}}</td>
                  <td align="center">{{data['公司全称'][i]}}</td>
                  <td align="center">{{data['薪资'][i]}}</td>
                  <td align="center">{{data['学历要求'][i]}}</td>
                  <td align="center">{{data['职业类别'][i]}}</td>
                  <td align="center">{{data['招收对象'][i]}}</td>
                  <td align="center">{{data['企业类别'][i]}}</td>
                  <td align="center">{{data['更新时间'][i]}}</td>
                  <td align="center">{{data['关键字'][i]}}</td>
{#                  <td>{{info[7]}}</td>#}
{#                  <td align="center" bgcolor="#dcdcdc">#}
{#                      <a href="{{ data['关键字'][i] }}" target="_blank">#}
{#                      {{data['关键字'][i] }}#}
{#                      </a>#}
{#                  </td>#}
              </tr>
              {% endfor %}
          </table>
     </section>
    </main>
	<!-- JS here -->

		<!-- All JS Custom Plugins Link Here here -->
        <script src="../static/assets/js/vendor/modernizr-3.5.0.min.js"></script>

		<!-- Jquery, Popper, Bootstrap -->
		<script src="../static/assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="../static/assets/js/popper.min.js"></script>
        <script src="../static/assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="../static/assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="../static/assets/js/owl.carousel.min.js"></script>
        <script src="../static/assets/js/slick.min.js"></script>
        <!-- Date Picker -->
        <script src="../static/assets/js/gijgo.min.js"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="../static/assets/js/wow.min.js"></script>
		<script src="../static/assets/js/animated.headline.js"></script>
        <script src="../static/assets/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="../static/assets/js/jquery.scrollUp.min.js"></script>
        <script src="../static/assets/js/jquery.nice-select.min.js"></script>
		<script src="../static/assets/js/jquery.sticky.js"></script>

        <!-- contact js -->
        <script src="../static/assets/js/contact.js"></script>
        <script src="../static/assets/js/jquery.form.js"></script>
        <script src="../static/assets/js/jquery.validate.min.js"></script>
        <script src="../static/assets/js/mail-script.js"></script>
        <script src="../static/assets/js/jquery.ajaxchimp.min.js"></script>

		<!-- Jquery Plugins, main Jquery -->
        <script src="../static/assets/js/plugins.js"></script>
        <script src="../static/assets/js/main.js"></script>

    </body>
</html>